div.panel > div.panel-heading  {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 25px;
}


/*JQuery Form Validation CSS Start*/
#errorContainer, #errorContainerModal, .errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    border-radius: 4px;
    padding-top: 0;
    margin: 10px 0;
}

#errorContainer, #errorContainerModal, .errorContainer > p {
    padding: 20px 20px 0;
}

#errorContainer > p {
    margin-bottom: 10px
}

#errorContainer, #errorContainerModal label {
    float: none;
    width: auto;
}

/*label.error {color:#cc0000;}*/
input.error, select.error, .select2.error, textarea.error {
    border: 1px solid #cc0000 !important;
    border-radius: 3px !important;
    border-bottom-color: red !important;
}

.bold {
    font-weight: bold !important;
}

.black {
    color: #000000 !important;
}

.bold_underlined {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.multiselect-container > li > a > label{
    padding-left: 20px !important;
}

.multiselect-container > li > a{
    padding-left: 15px;
}

/*JQuery Form Validation CSS End*/

.select2-container {
    border: 1px solid gainsboro;
    border-radius: 3px;
}