.sidebar-main, .navbar, .page-header, .student-list-button, .print-button, .heading-elements-toggle, .footer  {
    display: none;
}

.panel {
    border: 2px solid gainsboro !important;
    border-radius: 3px !important;
}